<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="HOST_DB_NOTIFICATION_UDP" value="192.168.10.21" />
    <add key="PORT_DB_NOTIFICATION_UDP" value="9090" />
  </appSettings>
</configuration>