/packages
/.vs
/MessageBrokerBuild
/MessageSharedBuild
/MessageBroker/obj
/MessageShared/bin
/MessageShared/obj
/MessageWebApi/obj
/MessageWebApi/bin
/WebApiShared/obj
/Controllers/WebApiControllers.Test/bin
/Controllers/WebApiControllers.Test/obj
/CacheEngine.Test/bin
/CacheEngine.Test/obj
/CacheEngineShared/bin
/CacheEngineShared/obj
/MessageBroker/Service.Cache/CacheEngineShared.pdb
/MessageUI/UploadImages
/Pdf/Build
/Pdf/Buildx64
/Pdf/Buildx86
/Pdf/TuesPechkin.Wkhtmltox.Win64/obj
/Pdf/TuesPechkin/obj
/Pdf/TuesPechkin.TestFormsApp/obj
*.sql
/MessageUI/Exports
/MessageUI/Uploads/0
/MessageUI/Uploads/123456
