/packages
/.vs
/MessageBrokerBuild
/MessageSharedBuild
/MessageBroker/obj
/MessageShared/bin
/MessageShared/obj
/MessageWebApi/obj
/MessageWebApi/bin
/WebApiShared/obj
/Controllers/WebApiControllers.Test/bin
/Controllers/WebApiControllers.Test/obj
/CacheEngine.Test/bin
/CacheEngine.Test/obj
/CacheEngineShared/bin
/CacheEngineShared/obj
/MessageBroker/Service.Cache/CacheEngineShared.pdb
/MessageUI/UploadImages
