<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="rootPathUpload" value="C:\Projects\MessageBroker\MessageUI\UploadImages" />
    <add key="HOST_WS_UPLOAD" value="ws://127.0.0.1:9099" />
    <!--<add key="HOST_WS_UPLOAD" value="ws://192.168.10.21:9099" />-->
    <!--Setting on messager broker-->
    <add key="PORT_DB_NOTIFICATION_UDP" value="9090" />
    <add key="PORT_LOG_INPUT" value="9091" />
    <add key="PORT_LOG_OUTPUT" value="9092" />
    <add key="HOST_LOG_OUTPUT" value="127.0.0.1" />
    <add key="PORT_DB_UPDATE" value="9093" />
    <add key="PORT_CACHE_FIND" value="9094" />
    <add key="PORT_CACHE_STORE" value="9095" />
    <add key="PORT_WEBAPI_ADMIN" value="9096" />
    <!--Setting for client provider-->
    <add key="HOST_CACHE_FIND" value="localhost" />
    <add key="HOST_LOG_INPUT" value="localhost" />
    <add key="HOST_DB_UPDATE" value="localhost" />
    <add key="HOST_CACHE_FIND" value="localhost" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DB_UPDATE_DATA" connectionString="server=192.168.10.20;database=F88_Mobility;UId=dev; Password=dev@123" providerName="System.Data.SqlClient" />
    <!--<add name="DB_UPDATE_DATA" connectionString="server=192.168.11.205;database=POS_TEST;UId=sa; Password=dev@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="DB_UPDATE_DATA" connectionString="server=THINHNUC\MSSQL;database=POS_TEST;UId=sa; Password=dev@123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>