<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="PORT_LOG_INPUT" value="55500" />
    <add key="PORT_LOG_OUTPUT" value="55501" />
    <add key="HOST_LOG_OUTPUT" value="127.0.0.1" />
    <add key="PORT_DB_UPDATE" value="55502" />
    <add key="PORT_CACHE_FIND" value="55503" />
    <add key="PORT_CACHE_STORE" value="55504" />
    
    <add key="PORT_WEBAPI_CACHE" value="55505" />
    <add key="PORT_DB_NOTIFICATION_UDP" value="55506" />
  </appSettings>
  <connectionStrings>
    <add name="DB_UPDATE_DATA" connectionString="server=192.168.11.205;database=TEST;UId=sa; Password=dev@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>