<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <appSettings>
    <add key="rootPathUpload" value="C:\Test" />
    <add key="HOST_WS_UPLOAD" value="ws://192.168.10.21:9099" />
    <!--<add key="HOST_WS_UPLOAD" value="ws://192.168.10.21:9099/uploads" />-->
    <!--<add key="HOST_WS_UPLOAD" value="ws://222.252.22.118:9099/uploads" />--> 
  </appSettings>  
</configuration>